# https://prettier.io/docs/en/configuration.html
index.html
_includes/*
*.min.css
README.md

# Prettier uses double quotes, ruamel.yaml uses single quotes
tests/test_yaml*/*.yaml

# The JSON generated with json.dumps() should not be prettified in tests, otherwise they fail
tests/test_json/*.json

tests/test_resources/*
