# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# Thanks to https://github.com/sloria/environs/blob/master/.pre-commit-config.yaml
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.19.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/python/black
    rev: 19.3b0
    hooks:
      - id: black
        args: [--safe, --quiet]
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.0.0-1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.3b0]
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: rst-backticks
  - repo: local
    hooks:
      # Run flake8 locally with nitpick and all the plugins configured in pyproject.toml
      - id: nitpick-local
        name: Nitpick (Locally on itself)
        entry: flake8 --select=NIP
        language: python
        types: [python]
        always_run: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
        additional_dependencies: [flake8-blind-except, flake8-bugbear, flake8-comprehensions,
          flake8-debugger, flake8-docstrings, flake8-isort, flake8-mypy, flake8-polyfill,
          flake8-pytest, flake8-quotes, yesqa]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.710
    hooks:
      - id: mypy
  - repo: https://github.com/openstack/bashate
    rev: 0.6.0
    hooks:
      - id: bashate
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v1.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']
