env:
  global:
    - CC_TEST_REPORTER_ID=2da342a92e29aa78fcf1dc84b18af77f8eede63db675363fd1151673be3ce4f3
    - PRE_COMMIT_HOME=$HOME/.cache/pre-commit
    - TWINE_USERNAME=andreoliwa
    - COVERALLS_PARALLEL=true
cache:
  npm: true
  directories:
    - $HOME/.cache/pip
    - $PRE_COMMIT_HOME
# https://docs.travis-ci.com/user/languages/python/
language: python
# https://docs.travis-ci.com/user/reference/xenial/
dist: xenial
install:
  - pip3 install --upgrade pip poetry coveralls pre-commit
  - poetry install --no-ansi --no-interaction
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then chmod +x ./cc-test-reporter; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then ./cc-test-reporter before-build; fi
script:
  - "./.travis/script.sh $TRAVIS_OS_NAME $TRAVIS_PYTHON_VERSION"
after_script:
  - coverage xml
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" && "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi
after_success:
  - coverage combine
  - coveralls
notifications:
  # https://docs.coveralls.io/parallel-build-webhook
  webhooks:
    - https://coveralls.io/webhook
stages:
  - name: test
  - name: release
#    if: branch = master # fixme
jobs:
  include:
#    - stage: test
#      python: 3.7
#    - python: 3.6 # fixme
#    - python: 3.5 # fixme
    # Thanks to https://github.com/cclauss/Travis-CI-Python-on-three-OSes/blob/master/.travis.yml
# TODO Build freezing on Windows, see comments on .travis/script.sh
#    - name: "Python: 3.8"
#      os: windows
#      language: shell
#      before_install:
#        - choco install python
#        - python -m pip install --upgrade pip
#      env:
#        - PATH=/c/Python38:/c/Python38/Scripts:$PATH
#        - PYTHONPATH=/c/Users/travis/AppData/Local/pypoetry/Cache/virtualenvs/nitpick-py3.8/lib/site-packages
#    - name: "Python: 3.7"
#      os: windows
#      language: shell
#      before_install:
#        - choco install python3 --version=3.7.4
#        - python -m pip install --upgrade pip
#      env:
#        - PATH=/c/Python37:/c/Python37/Scripts:$PATH
#        - PYTHONPATH=/c/Users/travis/AppData/Local/pypoetry/Cache/virtualenvs/nitpick-py3.7/lib/site-packages
    # Define the release stage that runs semantic-release
    # https://github.com/semantic-release/semantic-release/blob/master/docs/recipes/travis.md
    - stage: release
      python: 3.7
      script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          # Use nvm to install and use the Node LTS version (nvm is installed on all Travis images)
          - pip install -U poetry pre-commit bumpversion twine
          - nvm install lts/*
          - npx semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/exec
