[tool.nitpick]
# Use the defauly style and override some things (like the Python version)
style = ["nitpick-style", "styles/python34-35-36-37"]

[tool.black]
line-length = 120

[tool.poetry]
name = "flake8-nitpick"
version = "0.12.0"
description = "Flake8 plugin to enforce the same lint configuration (flake8, isort, mypy, pylint) across multiple Python projects"
authors = ["W. Augusto Andreoli <andreoliwa@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/andreoliwa/flake8-nitpick"
keywords = ["python3", "flake8", "linter", "styleguide"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Plugins",
    "Intended Audience :: Developers",
    "Operating System :: MacOS",
    "Operating System :: Unix",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.plugins."flake8.extension"]
NIP = "flake8_nitpick.plugin:NitpickChecker"

[tool.poetry.dependencies]
python = "^3.4 || ^3.5 || ^3.6 || ^3.7"
flake8 = ">=3.0.0"
attrs = "*"
toml  = "*"
requests = "*"
dictdiffer = "*"
pyyaml = "*"
python-slugify = "*"
jmespath = "*"

[tool.poetry.dev-dependencies]
ipython = "*"
ipdb = "*"
pytest = "*"
pylint = "*"
responses = "*"
sphinx = "*"
sphinx_rtd_theme = "*"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
