[tool.nitpick]
# Use the defauly style and override some things (like the Python version)
style = ["nitpick-style", "styles/python35-36-37"]

[tool.black]
line-length = 120

[tool.poetry]
name = "nitpick"
version = "0.19.0"
description = "Flake8 plugin to enforce the same lint configuration (flake8, isort, mypy, pylint) across multiple Python projects"
authors = ["W. Augusto Andreoli <andreoliwa@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/andreoliwa/nitpick"
keywords = ["python3", "flake8", "linter", "styleguide"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Plugins",
    "Intended Audience :: Developers",
    "Operating System :: MacOS",
    "Operating System :: Unix",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.plugins."flake8.extension"]
NIP = "nitpick.plugin:NitpickChecker"

[tool.poetry.dependencies]
python = "^3.5 || ^3.6 || ^3.7"
flake8 = ">=3.0.0"
attrs = "*"
toml = "*"
requests = "*"
dictdiffer = "*"
"ruamel.yaml" = "*"
python-slugify = "*"
jmespath = "*"
sortedcontainers = "*"
click = "*"
marshmallow = {version = "*", allows-prereleases = true}
# Pin to avoid error on "flake8 ." when there is an invalid TOML style:
# TypeError: _deserialize() got an unexpected keyword argument 'partial'
marshmallow-polyfield = "^5.7"

[tool.poetry.dev-dependencies]
ipython = "*"
ipdb = "*"
pytest = "*"
pytest-runfailed = "*"
pytest-repeat = "*"
pylint = "*"
responses = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
testfixtures = "*"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
