[nitpick.meta]
name = "GitHub Workflow for Python"
url = "https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions"

[".github/workflows/python.yaml"]
name = "Python"
on = ["push", "pull_request"]

[".github/workflows/python.yaml".jobs.build.strategy]
fail-fast = false

[".github/workflows/python.yaml".jobs.build.strategy.matrix]
os = ["ubuntu-latest", "windows-latest", "macos-latest"]

[".github/workflows/python.yaml".jobs.build]
name = "${{ matrix.os }}"
runs-on = "${{ matrix.os }}"

[".github/workflows/python.yaml".jobs.build.env]
PYTHONUNBUFFERED = 1

[[".github/workflows/python.yaml".jobs.build.steps]]
name = "Checkout"
uses = "actions/checkout@v5"

# Multiple Python versions are set up on each runner for tox-gh-actions
[[".github/workflows/python.yaml".jobs.build.steps]]
name = "Set up Python 3.10"
uses = "actions/setup-python@v6"

[[".github/workflows/python.yaml".jobs.build.steps]]
name = "Set up Python 3.11"
uses = "actions/setup-python@v6"

[[".github/workflows/python.yaml".jobs.build.steps]]
name = "Set up Python 3.12"
uses = "actions/setup-python@v6"

[[".github/workflows/python.yaml".jobs.build.steps]]
name = "Set up Python 3.13"
uses = "actions/setup-python@v6"

[[".github/workflows/python.yaml".jobs.build.steps]]
name = "Set up Python 3.14"
uses = "actions/setup-python@v6"

[[".github/workflows/python.yaml".jobs.build.steps]]
name = "Install pip, tox and tox-gh-actions"
run = "python -m pip install --upgrade pip tox tox-gh-actions"
