root = True

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = True
trim_trailing_whitespace = True

[*.{bat,cmd,ps1}]
end_of_line = crlf

[*.{js,json,json5,yml,yaml,md,rb}]
indent_size = 2

[Makefile]
indent_style = tab
