# Based on https://github.com/actions/starter-workflows/blob/main/ci/python-package.yml

# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python

on: [push, pull_request]

jobs:
  # Adapted from https://github.com/marketplace/actions/skip-duplicate-actions
  pre_job:
    # continue-on-error: true # TODO: Uncomment once integration is finished
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          # https://github.com/marketplace/actions/skip-duplicate-actions#skip-concurrent-workflow-runs
          concurrent_skipping: "same_content_newer"

  build:
    needs: pre_job
    # Always run the build step when pushing to master
    if:
      needs.pre_job.outputs.should_skip != 'true' || (github.event_name == 'push'
      && github.ref == 'refs/heads/master')
    name: "${{ matrix.name }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: lint
            os: ubuntu-latest
            toxenv: lint
            python-version: "3.14"
          - name: docs
            os: ubuntu-latest
            toxenv: docs
            python-version: "3.14"
          - name: test-ubuntu
            os: ubuntu-latest
          - name: test-windows
            os: windows-latest
          - name: test-macos
            os: macos-latest
    runs-on: ${{ matrix.os }}
    env:
      PYTHONUNBUFFERED: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # For lint/docs jobs: install only Python 3.14
      - name: Set up Python ${{ matrix.python-version }}
        if: matrix.python-version
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      # For test jobs: install all Python versions
      - name: Set up Python 3.10
        if: "!matrix.python-version"
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Set up Python 3.11
        if: "!matrix.python-version"
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Set up Python 3.12
        if: "!matrix.python-version"
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Set up Python 3.13
        if: "!matrix.python-version"
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Set up Python 3.14
        if: "!matrix.python-version"
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      # Cache tox environments
      - name: Cache tox environments
        uses: actions/cache@v4
        with:
          path: .tox
          key: ${{ runner.os }}-tox-${{ hashFiles('**/tox.ini',
            '**/pyproject.toml', '**/uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-tox-

      - name: Install pip and tox
        run: python -m pip install --upgrade pip tox

      # Run tox environments
      # For test jobs: run all Python versions and generate coverage report
      # For lint/docs jobs: run only the specific environment
      - name: "Run tox"
        run: tox
        env:
          TOXENV: ${{ matrix.toxenv || 'py310,py311,py312,py313,py314,report' }}

      # https://github.com/codecov/codecov-action
      # Only upload coverage for test jobs (not lint/docs)
      - name: Upload coverage to Codecov
        if: "!matrix.toxenv"
        uses: codecov/codecov-action@v5
        with:
          flags: ${{ matrix.os }}
          name: ${{ matrix.os }}
          fail_ci_if_error: false
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
