# Based on https://github.com/actions/starter-workflows/blob/main/ci/python-package.yml

# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python

on: [push, pull_request]

jobs:
  # Adapted from https://github.com/marketplace/actions/skip-duplicate-actions
  pre_job:
    # continue-on-error: true # TODO: Uncomment once integration is finished
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          # https://github.com/marketplace/actions/skip-duplicate-actions#skip-concurrent-workflow-runs
          concurrent_skipping: "same_content_newer"

  build:
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    name: "${{ matrix.python-version }} ${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.14", "3.13", "3.12", "3.11", "3.10"]
        # ubuntu-latest is being moved from ubuntu-18.04 to ubuntu-20.04
        # See https://github.com/actions/virtual-environments/issues/1816
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      PYTHONUNBUFFERED: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      # https://github.com/ymyzk/tox-gh-actions
      # This action didn't work: https://github.com/marketplace/actions/run-tox-gh-actions ¯\_(ツ)_/¯
      # Error: Unable to resolve action `ymyzk/tox-gh-actions@main`, unable to find version `main`
      - name: Install tox
        run: python -m pip install tox

      - name: "Set LINT_DOCS"
        if: matrix.python-version == '3.10'
        run: |
          echo "LINT_DOCS=,lint,docs" >> $GITHUB_ENV

      - name: "Set TOX_ENV on Windows"
        if: matrix.os == 'windows-latest'
        run: |
          $pythonVersion = "${{ matrix.python-version }}"
          $TOX_ENV = "py" + $pythonVersion.Replace('.', '')
          echo "TOX_ENV=$TOX_ENV" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: "Set TOX_ENV on Linux/macOS"
        if: matrix.os != 'windows-latest'
        run: |
          echo "TOX_ENV=$(echo py${{ matrix.python-version }} | tr -d .)" >> $GITHUB_ENV

      - name: "Run tests on ${{ matrix.os }}"
        run: |
          tox -e clean,${{env.TOX_ENV}}${{env.LINT_DOCS}},report

      # https://github.com/marketplace/actions/coveralls-python
      # The official coverallsapp/github-action@master doesn't work: https://github.com/marketplace/actions/coveralls-github-action
      # It fails with "Error: Lcov file not found."
      # Solution here: https://github.com/coverallsapp/github-action/issues/30#issuecomment-612523058
      - name: Coveralls
        # TODO: ci: run code coverage on all platforms to fix missing coverage
        #   Example: https://github.com/andreoliwa/nitpick/pull/479#issuecomment-1082074275
        # This condition is needed otherwise it fails with "Error: Container action is only supported on Linux"
        if: matrix.os == 'ubuntu-latest'
        uses: AndreMiras/coveralls-python-action@develop
        # TODO: the official GitHub Action is STILL not working, at least not out-of-the-box
        # https://github.com/marketplace/actions/coveralls-github-action
        #        uses: coverallsapp/github-action@v2
        with:
          parallel: true
          flag-name: Unit Test
  #          flag-name: run-${{ join(matrix.*, '-') }}
  #          # https://github.com/coverallsapp/coverage-reporter/issues/180
  #          coverage-reporter-version: v0.6.15

  # https://github.com/marketplace/actions/coveralls-python
  coveralls_finish:
    name: Coveralls (finish)
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel-finished: true
