# Based on https://github.com/actions/starter-workflows/blob/main/ci/python-package.yml

# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python

on: [push, pull_request]

jobs:
  # Adapted from https://github.com/marketplace/actions/skip-duplicate-actions
  pre_job:
    # continue-on-error: true # TODO: Uncomment once integration is finished
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          # https://github.com/marketplace/actions/skip-duplicate-actions#skip-concurrent-workflow-runs
          concurrent_skipping: "same_content_newer"

  build:
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    name: "${{ matrix.python-version }} ${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.14", "3.13", "3.12", "3.11", "3.10"]
        # ubuntu-latest is being moved from ubuntu-18.04 to ubuntu-20.04
        # See https://github.com/actions/virtual-environments/issues/1816
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      PYTHONUNBUFFERED: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      # https://github.com/ymyzk/tox-gh-actions
      # This action didn't work: https://github.com/marketplace/actions/run-tox-gh-actions ¯\_(ツ)_/¯
      # Error: Unable to resolve action `ymyzk/tox-gh-actions@main`, unable to find version `main`
      - name: Install tox
        run: python -m pip install tox

      - name: "Set LINT_DOCS"
        if: matrix.python-version == '3.10'
        run: |
          echo "LINT_DOCS=,lint,docs" >> $GITHUB_ENV

      - name: "Set TOX_ENV on Windows"
        if: matrix.os == 'windows-latest'
        run: |
          $pythonVersion = "${{ matrix.python-version }}"
          $TOX_ENV = "py" + $pythonVersion.Replace('.', '')
          echo "TOX_ENV=$TOX_ENV" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: "Set TOX_ENV on Linux/macOS"
        if: matrix.os != 'windows-latest'
        run: |
          echo "TOX_ENV=$(echo py${{ matrix.python-version }} | tr -d .)" >> $GITHUB_ENV

      - name: "Run tests on ${{ matrix.os }}"
        run: |
          tox -e clean,${{env.TOX_ENV}}${{env.LINT_DOCS}},report

      # https://github.com/codecov/codecov-action
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: ${{ matrix.os }}-${{ matrix.python-version }}
          name: ${{ matrix.os }}-${{ matrix.python-version }}
          fail_ci_if_error: false
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
