# Based on https://github.com/actions/starter-workflows/blob/main/ci/python-package.yml

# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python

on: [push, pull_request]

jobs:
  # Adapted from https://github.com/marketplace/actions/skip-duplicate-actions
  pre_job:
    # continue-on-error: true # TODO: Uncomment once integration is finished
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          # https://github.com/marketplace/actions/skip-duplicate-actions#skip-concurrent-workflow-runs
          concurrent_skipping: "same_content_newer"

  build:
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    name: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        # ubuntu-latest is being moved from ubuntu-18.04 to ubuntu-20.04
        # See https://github.com/actions/virtual-environments/issues/1816
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      PYTHONUNBUFFERED: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # Install all Python versions on each runner
      # tox-gh-actions will automatically select the right environments to run
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"

      # Cache tox environments
      - name: Cache tox environments
        uses: actions/cache@v4
        with:
          path: .tox
          key: ${{ runner.os }}-tox-${{ hashFiles('**/tox.ini',
            '**/pyproject.toml', '**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-tox-

      # https://github.com/ymyzk/tox-gh-actions
      - name: Install pip, tox and tox-gh-actions
        run: python -m pip install --upgrade pip tox tox-gh-actions

      # tox-gh-actions will automatically run the appropriate environments
      # based on the Python version and [gh-actions] configuration in tox.ini
      - name: "Run tests with tox"
        run: tox

      # https://github.com/codecov/codecov-action
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: ${{ matrix.os }}
          name: ${{ matrix.os }}
          fail_ci_if_error: false
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Install tox and tox-gh-actions
        run: python -m pip install tox tox-gh-actions
